.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 2%;

}

.welcome {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-top: 2%;
}