/* .navbar-brand {
    display: flex;
    align-items: center;
  }
  .navbar-brand>img {
    padding: 7px 14px;
  } */

  .navbar-brand
{
  /* display: block; */
  /* max-width: 100%;
  max-height: 100%; */
    position: relative;
    background: url("https://lh3.googleusercontent.com/McKCo7o4d4zkt56CZoNJSb2aExuFcJrfonYEZy2D6dhP-RR6e9YzePc-WOYuo-7EYy-JeErs-M61vXowEh5-Ds1hfarsdr7EFqFLifKU7LMxLpVg58dGSDjTrQS0tE_ZaNHXpUmsFA=w2400");
    width: 175px;
    height: 20vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.navbar {
  background-color: rgba(3, 3, 31, 0.904);
  position: sticky;
  top: 0;
  z-index: 999;

}

.nav-link {

  color: white;
  font-weight: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar.navbar-expand {
  height: 20vh;
  width: 100vw;
  position: sticky;
}

.logout.text-light {
  /* margin-left: 2%; */
  color: white;
  font-weight: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}