/* .navbar-brand {
    display: flex;
    align-items: center;
  }
  .navbar-brand>img {
    padding: 7px 14px;
  } */

  .navbar-brand
{
  /* display: block; */

    position: relative;
    background: url("https://lh3.googleusercontent.com/hB3e4MefFx3LYk0qX4uFIwaDaf3QOvt-AVgQo7ymKlq5NbU7Rx5fLBqGFWXGs3at5JDxGUMr4w__Yzl9Qrf8Txd1Zm8_qmY0sDB21rckdmxxgNnoRXqthSrs2H_4f505e1KKTWN2mQ=w2400");
    width: 175px;
    height: 20vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.navbar {
  background-color: rgba(3, 3, 31, 0.904);
  position: sticky;
  top: 0;
  z-index: 999;

}

.nav-link {

  color: white;
  font-weight: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar.navbar-expand {
  height: 20vh;
  width: 100vw;
  position: sticky;
}

.logout.text-light {
  /* margin-left: 2%; */
  color: white;
  font-weight: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}